.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.section-title h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  background-color: #01132E;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.7s ease;
  min-height: 396px;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #81B3FF;
  transition: all 0.7s ease-in-out;
  height: 0;
  z-index: 1;
}

.card:hover::before {
  height: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(
    rgba(135, 206, 235, 0.58) 0%,
    rgba(135, 206, 235, 0) 100%
  );
  background: linear-gradient(
    91.17deg,
    rgb(135, 206, 235) -93.64%,
    rgb(176, 224, 230) 98.85%
  );
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
  z-index: 2;
  transition: all 0.5s ease;
}

.card:hover .card-title {
  background: linear-gradient(
    rgba(135, 206, 235, 0.58) 0%,
    rgba(135, 206, 235, 0) 100%
  );
  color: white;
}

.card-description {
  padding: 1rem;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    rgba(135, 206, 235, 0.58) 0%,
    rgba(135, 206, 235, 0) 100%
  );
  background: linear-gradient(
    91.17deg,
    rgb(135, 206, 235) -93.64%,
    rgb(176, 224, 230) 98.85%
  );
  transition: all 0.5s ease;
}

.card:hover .card-description {
  background: linear-gradient(
    rgba(135, 206, 235, 0.58) 0%,
    rgba(135, 206, 235, 0) 100%
  );
  color: white;
}

.card:hover {
  transform: scale(1.05);
}
